<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-mapping PUBLIC 
"-//Hibernate/Hibernate Mapping DTD//EN"
"http://www.hibernate.org/dtd/hibernate-mapping-3.0.dtd"> 
<root>
    <hibernate-mapping>
        <class name = "StudentRoster" table = "STUDENTROSTER">
      
            <meta attribute = "class-description">
                This class contains information from the student roster. 
            </meta>
      
            <id name = "id" type = "int" column = "id">
                <generator class="native"/>
            </id>
      
            <property name = "firstName" column = "first_name" type = "string"/>
            <property name = "lastName" column = "last_name" type = "string"/>
            <property name = "studentId" column = "student_id" type = "int"/>
            <property name = "busNumber" column = "bus_Number" type = "int"/>
            <property name = "seatNumber" column = "seat_Number" type = "int"/>      
        </class>
    </hibernate-mapping>
</root>